.footer
  h4.headline.headline--small
    | Powered by 
    a(href="https://www.yelp.com/developers/documentation/v3/") Yelp
    |  API
  h4.headline.headline--small
    | Gintaras Stankus 
    a(href="#", title="title")
     img(src="/images/GitHub-Mark-Light-32px.png", width="16px", alt="GitHub Logo").icon.icon--github