.footer
  h4.headline.headline--small
    | Powered by   
    a(href="https://www.yelp.com/developers/documentation/v3/" target="_blank")
      img.icon.icon--yelp(src="/images/yelp_fullcolor.png", alt="yelp icon")
  .credits
    h4.headline.headline--small
      | Gintaras Stankus 
    a(href="https://github.com/g1st/nightlife", title="GitHub repo", target="_blank")
      img.icon.icon--github(src="/images/GitHub-Mark-Light-32px.png", width="16px", alt="GitHub Logo")