.footer
  h4.headline.headline--small
    | Brain - 
    a.link--text(href="https://www.yelp.com/developers/documentation/v3/" target="_blank") Yelp API
  h4.headline.headline--small
    | Gintaras Stankus 
    a(href="https://github.com/g1st/nightlife", title="GitHub repo", target="_blank")
     img(src="/images/GitHub-Mark-Light-32px.png", width="16px", alt="GitHub Logo").icon.icon--github