header
  nav
    .logo
      a.button(href='/') Home
    .menu-icon
    .menu-content
      ul
        if user
          li
            a.button(href='/logout') Logout
        else
          li
            a.button(href='/login/') Login
          li
            a.button(href='/signup') Signup