header.site-header
  nav.site-header__navigation
    .site-header__navigation--logo
      a(href='/') Home
    .site-header__navigation--menu-icon
    .site-header__navigation--menu-content
      ul
        if user
          li
            a(href='/logout') Logout
        else
          li
            a(href='/login/') Login
          li
            a(href='/signup') Signup