header
  nav.main-nav
    ul.navbar
      li
        a.button-nav.home(href='/') Home
      if user
        li
          a.button-nav(href='/logout') Logout
      else
        li
          a.button-nav(href='/login/') Login
        li
          a.button-nav(href='/signup') Signup