extends layout.pug
include ./mixins/_searchForm.pug

block content
  h2.headline Plans Tonight?
  h3.headline.headline--medium See which bars are hoppin' tonight and RSVP ahead of time!
  +searchForm()
  .results

