doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/dist/App.bundle.css")
    link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
    title=title || 'Nightlife'
  body
    include header.pug
    main
      .wrapper
        block content
          section This will be block content's fall back
    footer
      .wrapper
        include footer.pug

    block scripts
      if title === 'Nightlife'
        script(type="text/javascript" src=`https://maps.googleapis.com/maps/api/js?key=${process.env.apiKey}&libraries=places`)
      script(src="/dist/App.bundle.js")
    