.headline {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;

  @include atMedium {
    font-size: 3.5rem;
    font-weight: 600;
  }

  &--medium {
    font-size: 1.25rem;
    font-weight: 200;

    @include atMedium {
      font-size: 2rem;
      font-weight: 300;
    }
  }

  &--small {
    font-size: 0.75rem;
    font-weight: 200;

    @include atMedium {
      font-size: 1rem;
      font-weight: 300;
    }
  }

  &--left {
    text-align: left;
    padding-left: 20px;

    @include atMedium {
      padding-left: 100px;
    }
  }
}
