header {
  background: $nav-background;
}

.main-nav {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  ul {
    list-style: none;
    li {
      display: inline-block;
    }
  }
}

.navbar {
}
