.icon {
  display: inline-block;
  position: relative;
  &--github {
    width: 16px;
    height: 16px;
    top: 12px;
    left: 5px;
    transition: transform 0.3s ease-out;

    &:hover {
      transform: rotateZ(360deg);
    }
    @include atMedium {
      width: 32px;
      height: 32px;
      top: 6px;
      left: 6px;
    }
  }
  &--yelp {
    width: 80px;
    height: auto;
    top: 6px;

    @include atMedium {
      top: 10px;
      width: initial;
    }
  }
}

.icons {
  display: flex;
  justify-content: center;

  @include atMedium {
    padding-bottom: 20px;
    img:nth-child(2) {
      padding: 0 20px;
    }
  }
}
