body {
  background-color: $main-background;
  font-family: 'Helvetica', 'Open Sans', sans-serif;
  color: $black;
}

* {
  box-sizing: border-box;
}

::placeholder {
  color: $white;
  opacity: 1;
}

.link--text {
  text-decoration: none;
  color: $black;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
  &:active {
    color: inherit;
  }
}

@-webkit-keyframes autofill {
  to {
    color: $white;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
